{
  "extends": ["standard"],
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "globals": {
    SharedArrayBuffer: true
  },
  "rules": {
    "arrow-parens": 2
  },
  "env": {
    "node": true
  }
}
